**/.vscode
**/*.map
**/*.ts
!**/*.d.ts
**/tsconfig.json
**/.eslintrc.json
**/.prettierrc
**/README.md
**/CHANGELOG.md
**/.gitignore
**/test/**
**/src/**
drizzle/**
*.db
*.db-journal
.env
.env.*
webview/**
